<div class="homepage">



<h3><%= @chapter.title %></h3><div class="mdl-layout-spacer"></div>
<h5><%= @chapter.text %></h5>
<div class="mdl-grid">



<% @chapter.questions.each do |question| %>
  <% if current_user && current_user.role == 'admin' %>
    <%= link_to 'Edit Question', edit_chapter_question_path(@chapter, question) %> |
    <%= link_to 'Delete Question', chapter_question_path(@chapter, question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <div class="mdl-cell--6-col">
    <h6><strong><%= question.title %></strong></h6>
    <%= question.text %>
    <div class="mdl-card--border">
      <%= render 'comments/comment', commentable: question%>
    </div>
    <div class="mdl-card--border">
      <% if current_user %>
        <%= render 'comments/form', commentable: question%>
      <% end %>
    </div>
  </div>
<% end %>


<% if current_user && current_user.role == 'admin' %>
  <%= render 'questions/form', question: @chapter.questions.new %>
  <%= link_to 'Edit Chapter', edit_book_chapter_path(@book, @chapter) %> |
  <%= link_to 'Destroy Chapter', book_chapter_path(@book, @chapter),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> |
<% end %>


</div>

</div>
<%= link_to 'Back', book_chapters_path %>
