  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"><h3>Make a Suggestion</h3>
  </div>
  </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col"></div>
      <div class="mdl-cell mdl-cell--4-col"><div class="mdl-textfield mdl-js-textfield">

        <%= form_for @contact do |f| %>
            <%#= f.label :name, class: 'mdl-textfield__label' %>
            <p class="">Name</p>
            <%= f.text_field :name, class: 'mdl-textfield__input', placeholder: 'Elon Musk'%>
            <br>
            <%#= f.label :email, class: 'mdl-textfield__label' %>
            <p class="">Email</p>
            <%= f.text_field :email, class: 'mdl-textfield__input', placeholder: 'elonmusk@boringcompany.com'%>
            <br>
            <%#= f.label :comments, class: 'mdl-textfield__label' %>
            <p class="">Suggestions</p>
            <%= f.text_area :comments, class: 'mdl-textfield__input', placeholder: 'You need to fund this by selling flamethrowers'%>
            <br>
            <br><br>
            <%= f.submit 'Submit', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' %>
        <% end %>
      </div>

  </div>
  <div class="mdl-cell mdl-cell--4-col"><% if flash[:notice] %>
    <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
    <span class="mdl-chip__text"><%= flash[:notice] %></span>
    <a href="#" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
    </span>
  <% end %></div>
</div>
