<%= render 'pages/navheader' %>




<h1>Book Club</h1>

<div class="text-center">

<%= link_to 'New book', new_book_path %>



  <% @books.each do |book| %>
    <%=book.month%>
    <%= link_to book_path(book) do %>
      <%= image_tag(book.bookcover.url(:medium))%>
    <% end %>
    <%= link_to 'Edit', edit_book_path(book) %>
    <%= link_to 'Destroy', book_path(book),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <%end%>
</div>
