<div class="homepage">

<h1><%= @book.title %></h1>

<%= link_to 'New chapter', new_book_chapter_path(@book, @chapter) %>

<% @chapters.each do |chapter| %>
			<h3><%= link_to chapter.title, chapter %></h3>
		<% end %>

<p>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', book_path(@book),
          method: :delete,
          data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', books_path %> |
</p>

</div>
