<div class="homepage">

<h1><%= @book.title %></h1>

<%= link_to 'New chapter', new_book_chapter_path(@book, @chapter) %>

<div class="mdl-grid">

<% @book.chapters.each do |chapter| %>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h4><%= chapter.title%> </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <%=link_to 'VIEW CHAPTER', book_chapter_path(@book,chapter), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"%>
          <div class="mdl-layout-spacer"></div>
          <i class="material-icons">book</i>
        </div>
      </div>
    </div>
  <% end %>
</div>



<p>
  <% if current_user && current_user.role == 'admin' %>
    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Destroy', book_path(@book),
          method: :delete,
          data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', books_path %>

</p>

</div>
