<%= form_with model: @chapter, local: true do |form| %>

  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@chapter.errors.count, "error") %> prohibited
        this chapter from being saved:
      </h2>
      <ul>
        <% @chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.cktext_area :text %>
  </p>

  <p>
    <%= form.submit "New Chapter" %>
  </p>

<% end %>
